@media screen and (max-width: 600px) {
    
    .logofacebook {
        background-image: url(../pacote-d013/imagens/logo-facebook.jpg);
        border-radius: 180%;
        min-width: 80px;
        min-height: 80px;
        
        position: absolute;
        left: 81%;
        top: 25%;
        transition: 0.5s;
    }
    .logogithub {
        background-image: url(../pacote-d013/imagens/logo-github.jpg);
        border-radius: 180%;
        min-width: 80px;
        min-height: 80px;
        
        position: absolute;
        left: 3%;
        top: 25%;
        transition: 0.5s;
    }
    .logoinstagram {
        background-image: url(../pacote-d013/imagens/logo-instagram.jpg);
        border-radius: 180%;
        min-width: 80px;
        min-height: 80px;
        
        position: absolute;
        left: 3%;
        top: 45%;
        transition: 0.5s;
    }
    .logotwitter {
        background-image: url(../pacote-d013/imagens/logo-twitter.jpg);
        border-radius: 180%;
        min-width: 80px;
        min-height: 80px;
        
        position: absolute;
        left: 81%;
        top: 45%;
        transition: 0.5s;
    }
    .logoyoutube {
        background-image: url(../pacote-d013/imagens/logo-youtube.jpg);
        border-radius: 180%;
        min-width: 80px;
        min-height: 80px;
        
        position: absolute;
        left: 3%;
        top: 65%;
        transition: 0.5s;
    }
    
    .home {    
        background-image: url(../pacote-d013/imagens/logo-home.jpg);
        border-radius: 180%;
        min-width: 80px;
        min-height: 80px;
        
        position: absolute;
        left: 81%;
        top: 65%;
        transition: 0.5s;
    }
}